
.button {
    -fx-background-color: #8A2BE2;
    -fx-text-fill: white;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
    -fx-padding: 1em 2em;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #7B68EE;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );
}
