@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.button {
    -fx-background-color: #8A2BE2;
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 1.5em 3em;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #7B68EE;
    -fx-cursor: hand;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.8) , 0,0,0,1 );
}
