
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.text-field {
    -fx-font-size: 12px;
    -fx-border-color: #a9a9a9;
    -fx-padding: 3px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #a9a9a9;
}

.text-field:focused {
    -fx-border-color: #1e90ff;
}

.slider {
    -fx-control-inner-background: #f0e68c;
    -fx-base: #666666;
}